html, body, ul {
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
.hide {
    display: none;
}
.buttons {
  display:flex;
  justify-content: center;
  width: 798px;
}
.buttonL {
  margin-right: 20px;
  width: 70px;
  height: 70px;
  background-image: url(../img/arr.png);
  background-size: contain;
  transform: scaleX(-1);
  cursor: pointer;
}
.buttonR {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  background-image: url(../img/arr.png);
  background-size: contain;
  cursor: pointer;
}
